.locations {
    align-items: center;
    margin: 3rem auto auto 3rem;
}

.locationComponents {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: start;
}

.table-container-locations {
    overflow-x: scroll;
    overflow-y: scroll;
    height: 65vh;
    width: 45vw;
    border-radius: 10px;
    box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.8);
}

.table-container-items{
    overflow-x: scroll;
    overflow-y: scroll;
    height: 40vh;
    width: 30vw;
    border-radius: 10px;
    box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.8);
}

table{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 2px solid lightgray;
    border-radius: 20px;
}

thead {
    border: 2px solid lightgray;
}

.headerTable{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sortIcon:hover{
    cursor: pointer;
    scale: 1.2;
}

th {
    border: 2px solid lightgray;
    padding: 12px;
    text-align: left;
    background-color: gray;
    color: white;
    position: sticky;
    top: 0;
}

td{
    border: 1px solid lightgray;
    padding: 12px;
    text-align: left;
}

tr:nth-child(even){
    background-color: #f2f2f2;
}

tr:nth-child(odd){
    background-color: #ffffff;
}

tbody tr:hover{
    background-color: lightcyan;
    cursor: pointer;
}

tr.selected{
    background-color: lightcyan;
}

.location-buttons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: 1.5rem 0;
    padding-bottom: 1rem;
    border-bottom: 1px solid black;
}

.location-buttons button {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    width: 8rem;
    height: 4rem;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
}

.location-buttons button:hover {
    background-color: lightgreen;
    cursor: pointer;
}